extends layout

block content

  

  .profile-header
    button(class="profile-header__edit btn--text open-edit") Edit profile
    img(src=user.displayImage)

  main.main-content
    .profile-intro
      .profile-intro__left
        h1= user.name
        small= user.job  

    .profile-meta
      .profile-meta__item
        h3 22 
          small Age

      .profile-meta__item
        h3 HBO 
          small Education

      .profile-meta__item
        h3 18km 
          small Distance                
  
    if iceBreakerData.images.length > 0
      .ice-breaker--msg
        p Leanne Graham heeft gereageerd

      .icebreaker-r

        .ice-breaker-r__inner
          .before-conv
            .ice-breaker-people
              img(src='/images/users/2/display.jpg')
              img(src=user.displayImage)

            h2 Begin een gesprek
            p= `Leanne Graham en jij vonden allebei deze onderwerpen interessant` 

            .iceBreakerData
              .iceBreakerData__comparison
                each answer in iceBreakerData.images
                  img(src=answer)

          .during-conv
            .conv

              .conv__item
                img(src=user.displayImage, alt="")
                .conv__msg I see you like fitness ;)

              div(class='conv__item conv__item--left')
                img(src='images/users/2/display.jpg', alt="")
                .conv__msg Omg! I do!

              div(class='conv__item conv__item--resp')
                img(src=user.displayImage, alt="")
                .conv__msg That is epic :0

        button(class="btn start-convers") Start conversation

    .profile-about
      h2 About me
      p= user.intro

    .profile-gallery
      each img in user.gallery
        img(src=img)


      form(action="uploadGallery" method="post" enctype="multipart/form-data" class="upload-image-form")        
        input(type="file" name="uploadImage")
        button(type="submit" class="btn") Upload image
  
    a(href='/logout' class="btn--text") Log out





  .edit-profile
    h2 Edit profile

    form(action="/update" method="post")
      label(for="name") Name
      input(type="text" name="name" value=user.name)

      label(for="job") Job
      input(type="text" name="job" value=user.job)

      label(for="intro") intro
      textarea(name="intro", cols="30", rows="10")= user.intro

      button.btn Save changes

    form(action="/delete" method="post")
      button.btn--text(class="btn--delete") delete profile