extends layout

block content

  

  .profile-header
    button(class="profile-header__edit btn--text open-edit") Edit profile
    img(src=user.displayImage)

  main.main-content
    .profile-intro
      .profile-intro__left
        h1= user.name
        small= user.job  

    .profile-meta
      .profile-meta__item
        h3 22 
          small Jaar

      .profile-meta__item
        h3 HBO 
          small Opleiding

      .profile-meta__item
        h3 18km 
          small Afstand                

    .profile-about
      h2 Over mij
      p= user.intro

    .profile-gallery
      each img in user.gallery
        img(src=img)


      form(action="uploadGallery" method="post" enctype="multipart/form-data" class="upload-image-form")        
        input(type="file" name="uploadImage")
        button(type="submit" class="btn") Upload image
  
    a(href='/logout' class="btn--text") Log out



  if iceBreakerData.images.length > 0
    .ice-breaker--msg
      p Leanne Graham heeft gereageerd

    .icebreaker-r

      .ice-breaker-r__inner
        .ice-breaker-people
          img(src='/images/users/2/display.jpg')
          img(src=user.displayImage)

        h2 Begin een gesprek
        p= `Leanne Graham en jij vonden allebei deze onderwerpen interessant` 

        .iceBreakerData
          .iceBreakerData__comparison
            each answer in iceBreakerData.images
              img(src=answer)

      button.btn Start gesprek


  .edit-profile
    h2 Edit profile

    form(action="/update" method="post")
      label(for="name") Name
      input(type="text" name="name" value=user.name)

      label(for="job") Job
      input(type="text" name="job" value=user.job)

      label(for="intro") intro
      textarea(name="intro", cols="30", rows="10")= user.intro

      button.btn Save changes

    form(action="/delete" method="post")
      button.btn--text(class="btn--delete") delete profile