extends layout

block content
  .profile-header
    img(src=user.displayImage)

  main.main-content
    .profile-intro
      .profile-intro__left
        h1= user.name
        small= user.job

      .profile-intro__right
        img(src="/images/icons/heart.svg" alt="like")
        img(src="/images/icons/chat.svg" alt="comment" class="icebreaker__open")
        img(src="/images/icons/match-meter.svg" alt="match score")

    .profile-meta
      .profile-meta__item
        h3 22 
          small Jaar

      .profile-meta__item
        h3 HBO 
          small Opleiding

      .profile-meta__item
        h3 18km 
          small Afstand                

    .profile-about
      h2 Over mij
      p= user.intro

      form(action="/update" method="post")

    .profile-gallery
      each img in user.galleryImages
        img(src=img)

    .icebreaker
      progress(value="16.6" max="100")

      .icebreaker__inner
        h4 Set: 1 van de 3
        h2 Ice-breaker
        
        form(action="/icebreaker" method="post")
          .icebreaker-option or

          fieldset(class="active")
            legend Activity
            
            label(for="camping")
              input(type="radio", name="q1", value="gym" id="camping" class="ice-q")
              img(src="/images/party.jpg" alt="camping")

            label(for="home")
              input(type="radio", name="q1", value="camping", id="home" class="ice-q")
              img(src="/images/camping.jpg" alt="camping")

          fieldset
            legend Activity
            label(for="workout")
              input(type="radio", name="q2", value="yoga", id="workout" class="ice-q")
              img(src="/images/party.jpg" alt="camping")

            label(for="movie")
              input(type="radio", name="q2", value="party" id="movie" class="ice-q")
              img(src="/images/gym.jpg" alt="camping")

          fieldset
            legend Pet
            label(for="cat")
              input(type="radio", name="q3", value="gym", id="cat" class="ice-q")
              img(src="/images/yoga.jpg" alt="camping")

            label(for="dog")
              input(type="radio", name="q3", value="camping" id="dog" class="ice-q")
              img(src="/images/party.jpg" alt="camping")
              
          fieldset
            legend Activity
            label(for="workout")
              input(type="radio", name="q2", value="yoga", id="workout" class="ice-q")
              img(src="/images/party.jpg" alt="camping")

            label(for="movie")
              input(type="radio", name="q2", value="party" id="movie" class="ice-q")
              img(src="/images/gym.jpg" alt="camping")

          fieldset
            legend Pet
            label(for="cat")
              input(type="radio", name="q3", value="gym", id="cat" class="ice-q")
              img(src="/images/yoga.jpg" alt="camping")

            label(for="dog")
              input(type="radio", name="q3", value="camping" id="dog" class="ice-q")
              img(src="/images/party.jpg" alt="camping")

          fieldset
            p.feedback Je hebt alle vragen beantwoord. Jouw ijsbreker zal worden verstuurd naar 
              a(href="#") Amelia Cabal
            input(type="submit" value="Verstuur ice-breaker")

        button(class="icebreaker__back icebreaker__close") Ga terug